@import url("https://fonts.googleapis.com/css?family=Roboto:300");
body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.tabs {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 600px;
    height: 40px;
    background-color: #f0f0f0;
}

.tab-button {
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f0f0;
    padding: 0 20px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    flex: 1;
    color: black;
    font-weight: bold;
}
.tab-button:hover{
    background-color: #e0e0e0;
}
.tab-button:focus{
    background-color: black;
    color: white;
}
.icon{
    margin-bottom: -2px; 
    margin-right: 10px;
}

.special{
    background-color: black;
    color: white;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
    width: 200px;
    text-align: left;
}

.product-card img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

.product-card .badge {
    background-color: white;
    color: black;
    padding: 5px;
    position: absolute;
    font-size: 10px;
    margin-top: -245px;
    margin-left: 10px;
    border-radius: 2px;
}

.product-card .details {
    padding: 0;
}
.product-card ul{
    display: inline-flex;
    margin: 0;
}
.product-card .link{
    text-decoration: none;
    color: #000;
}

.product-card .title {
    font-weight: bold;
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    text-align: left;
    margin-left: -38px;
    margin-right: 30px;
    list-style-type: none;
}
.product-card .vendor{
    margin: 10px 0;
    font-size: small;
}
.product-card .price{
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bold;
    font-size: 12px;
}
.product-card .compare-at-price{
    margin-top: 5px;
    margin-left: 4px;
    margin-right: 4px;
    font-weight: bold;
    font-size: 12px;
    color: #9b9b9c;
    text-decoration: line-through;
}
.product-card .discount {
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 0;
    margin: 5px 0 0 10px;
    align-content: right;
    font-weight: bold;
    font-size: 12px;
    color: rgb(255, 60, 0);
}

.add-to-cart {
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

